<font size="+5">#02 | Dissecting the Object Like an Onion</font>

- <ins>Python</ins> + <ins>Data Science</ins> Tutorials in [YouTube ↗︎](https://www.youtube.com/c/PythonResolver)

# How to Access the `items` of an `Object`

## The `list`

> - [ ] Create a `list` of your best friends

In [4]:
lista_bf = ["iva","cesar",'ignacio']

> - [ ] Access the 2nd element ↓

In [7]:
lista_bf[1]

'cesar'

## The `dict`

> - [ ] Create a `dict` of your best friends

In [8]:
dict_bf = {'primero':'ivan','segundo':'cesar', 'tercero': 'ignacio'}

> - [ ] Access the 2nd element ↓

In [9]:
dict_bf[1]

KeyError: 1

In [10]:
dict_bf.keys()

dict_keys(['primero', 'segundo', 'tercero'])

In [11]:
dict_bf['segundo']

'cesar'

## The `DataFrame`

> - [ ] Create a `nested dict` with your **3 best friends' personal data**

In [12]:
diccionario_bf = { #!
    'maria': {
        'altura': 1.78,
        'peso': 54,
        'edad': 18
    },
    'juan': {
        'altura': 1.87,
        'peso': 76,
        'edad': 24
    },
    'pepe': {
        'altura': 1.84,
        'peso': 94,
        'edad': 33
    }
}

In [13]:
import pandas

In [15]:
df = pandas.DataFrame(data=diccionario_bf)

> - [ ] Access the `age` of your `2nd best friend`

In [17]:
df['age']

KeyError: 'age'

In [18]:
df

        maria   juan   pepe
altura   1.78   1.87   1.84
peso    54.00  76.00  94.00
edad    18.00  24.00  33.00

In [19]:
df.keys()

Index(['maria', 'juan', 'pepe'], dtype='object')

In [20]:
df['maria']

altura     1.78
peso      54.00
edad      18.00
Name: maria, dtype: float64

In [21]:
df['maria']['edad']

18.0

In [22]:
diccionario_bf

{'maria': {'altura': 1.78, 'peso': 54, 'edad': 18},
 'juan': {'altura': 1.87, 'peso': 76, 'edad': 24},
 'pepe': {'altura': 1.84, 'peso': 94, 'edad': 33}}

In [24]:
diccionario_bf['maria']

{'altura': 1.78, 'peso': 54, 'edad': 18}

In [25]:
diccionario_bf['maria']['edad']

18

> - What would have happened if the `DataFrame` looks like this ↓

In [26]:
df = df.transpose()

In [27]:
df

       altura  peso  edad
maria    1.78  54.0  18.0
juan     1.87  76.0  24.0
pepe     1.84  94.0  33.0

In [28]:
df['maria']

KeyError: 'maria'

In [31]:
df['edad']

maria    18.0
juan     24.0
pepe     33.0
Name: edad, dtype: float64

In [32]:
df['edad']['maria']

18.0

## Recap

### The `list`

In [33]:
lista_bf

['iva', 'cesar', 'ignacio']

In [34]:
lista_bf[1]

'cesar'

### The `dictionary`

In [35]:
diccionario_bf

{'maria': {'altura': 1.78, 'peso': 54, 'edad': 18},
 'juan': {'altura': 1.87, 'peso': 76, 'edad': 24},
 'pepe': {'altura': 1.84, 'peso': 94, 'edad': 33}}

In [36]:
diccionario_bf['maria']

{'altura': 1.78, 'peso': 54, 'edad': 18}

### The `DataFrame`

In [38]:
df['peso']

maria    54.0
juan     76.0
pepe     94.0
Name: peso, dtype: float64

## What the heck is a `key`?

> - A `key` that opens a door to get the `values`

In [40]:
import pandas as pd

In [41]:
df = pd.read_excel('internet_usage_spain.xlsx', sheet_name=1, index_col=0) #!
df.head()

           internet_usage     sex  age   education  weight
name
Josefina                0  Female   66  Elementary      81
Vicki                   1    Male   72  Elementary      78
David                   1    Male   48  University      69
Curtis                  0    Male   59         PhD     107
Josephine               1  Female   44         PhD      80

> - [ ] For example, get the values contained in the `age` key

In [43]:
df.keys()

Index(['internet_usage', 'sex', 'age', 'education', 'weight'], dtype='object')

In [42]:
df['age']

name
Josefina     66
Vicki        72
David        48
Curtis       59
Josephine    44
             ..
Frances      43
Harry        18
Adam         54
Christine    31
Kimberly     52
Name: age, Length: 2455, dtype: int64

> - [ ] Access the `name` of the people

In [45]:
df['name']

KeyError: 'name'

> - What is the error saying?
> - [ ] Could you ask which are the `keys` for the `df`?

In [46]:
df

           internet_usage     sex  age    education  weight
name
Josefina                0  Female   66   Elementary      81
Vicki                   1    Male   72   Elementary      78
David                   1    Male   48   University      69
Curtis                  0    Male   59          PhD     107
Josephine               1  Female   44          PhD      80
...                   ...     ...  ...          ...     ...
Frances                 1    Male   43   Elementary      94
Harry                   1  Female   18  High School      70
Adam                    0  Female   54   Elementary      60
Christine               1    Male   31  High School      89
Kimberly                0    Male   52   Elementary      88

[2455 rows x 5 columns]

> - [ ] Which `keys` could you access then?

In [47]:
df.keys()

Index(['internet_usage', 'sex', 'age', 'education', 'weight'], dtype='object')

> - [ ] How could you then access the `names`?

In [49]:
df.index

Index(['Josefina', 'Vicki', 'David', 'Curtis', 'Josephine', 'Malinda', 'Fern',
       'Sue', 'Juanita', 'Robert',
       ...
       'Anne', 'Ernestina', 'Jaime', 'Elsie', 'Michael', 'Frances', 'Harry',
       'Adam', 'Christine', 'Kimberly'],
      dtype='object', name='name', length=2455)

In [50]:
df.index[0]

'Josefina'

# Dissecting the Objects to Understand the Elements of Programming

> - Objects are **data structures** that store information. 
> - [ ] Which **syntax** do we use to access the information?

## Dot Notation `.`

> - [ ] Show just the `age` column from `df`

> - [ ] Could we **access to more information** than just the columns?

### The `function()`

### The `instance`

### Recap

#### The `instance`

The **instance** (object) may contain:
- `function`
- more `instance`s

#### The `function()`

The **function** contains nothing
- ` `; it's the endpoint of programming

#### Module

The **module** may contain:
- `module` (subfolder)
- `function`
- object `class` **to be created**
- object `instance` **(object) already created**